# Configuracion de Ansible para la maquina de Vault
# Ansible solo lee este archivo si lo corres desde ansible/
[defaults]
inventory = inventory/aws_ec2.yml
roles_path = roles
retry_files_enabled = False
interpreter_python = auto_silent

[inventory]
enable_plugins = amazon.aws.aws_ec2
